*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Rubik;
    src: url(assets/font/Rubik/static/Rubik-Black.ttf);
}

.container {
    display: flex;
    /* position: relative; */
    width: 100%;
    height: 1400px;

    background: #fffefe;
    border-radius: 20px;
}

/* side content */
.side-content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    left: -205px;
    top: 0px;
    flex: 1;

    background-color: honeydew;
    background: url(assets/img/robert-bye-95vx5QVl9x4-unsplash\ 2.png);
    max-width: 67%;
}

/* main content */
.main-content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    flex: 1;

    /* background-color: #050505; */
    /* box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67); */
    /* border-radius: 20px; */
}

/* header-name */
.main-header {
    display: flex;
    /* position: absolute; */
    width: 100%;
    /* height: 24px;
    left: 784px;
    top: 59.12px; */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    justify-content: space-between;
    flex-direction: row;

    /* background-color: indigo; */
}

.box-title1 {
    display: flex;
    padding-left: 10%;
    flex: 1;
    align-items: center;
}

.box-title2 {
    flex: 1;
    width: 100%;
    justify-content: flex-end;
}

/* header logo  */
.header-name {
    padding: 20px 5%;
    flex: 2;
}

.header-title {
    text-align: end;
    padding: 20px 30%;
    /* background-color: green;    */
}

.logo {
    width: 30px;
    height: 33px;
}

/* main-form */
.main-form {
    display: flex;
    width: 100%;
    padding: 10%;
    justify-content: center;
}

.register-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* Sign Up */
label {
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    color: rgb(13, 13, 13);
}

input,
.signup-google,
.register-submit,
.login-button {
    box-sizing: border-box;

    padding: 20px;
    width: 100%;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #4F5665;
    border-radius: 20px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

/* button */
.register-submit {
    margin: 40px 0px;
    box-shadow: 0px 6px 20px 0px rgb(236, 190, 99);
    border: none;
    background: rgba(255, 186, 51, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    color: rgba(106, 64, 41, 1);
}

.signup-google {
    box-shadow: 0px 6px 20px 0px rgb(158, 156, 156);
    border: none;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    color: rgb(4, 4, 4);
}

.register-submit:active {
    background: rgb(248, 203, 113);
}

.signup-google:active {
    background: rgb(126, 126, 126);
}

.signup-google,
.register-submit,
.login-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.google-icon {
    padding-right: 10px;
}

.has-account {
    padding: 30px 0%;
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.has-account-text {
    flex: 2;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;
    color: rgba(159, 159, 159, 1);
    ;
    text-align: center;
}

.underline {
    flex: 1;
    height: 1px;
    border-bottom: 2px solid rgba(159, 159, 159, 1);
    ;
}

.login-button {
    display: flex;
    background: rgba(106, 64, 41, 1);
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    color: #fffefe;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 6px 20px 0px rgb(105, 73, 56)
}

.login-button:active {
    background: rgb(153, 129, 117);
}

.footer{
    background-color: #fffefe;
}
.footer-flex-container{
    display: flex;
    flex-direction: row;
    width: 505px;
    margin-left: 10%;
}
.footer-flex-item{
    flex: 1;
    margin-top: 10px;
    width: 40%;
}
.footer-list{
    display: flex;
}
.footer-list-item{
    flex: 1;
}
.footer-list-item>p{
    margin-top: 5px;
}